# Директории, создаваемые Go
bin/
pkg/
out/

# Директории и файлы редакторов/IDE
.vscode/
.idea/
*.swp

# Директории и файлы операционной системы
.DS_Store
Thumbs.db

# Лог-файлы
*.log

# Сборочные файлы
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Файлы ресурсов
rsrc.syso
